*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Nunito;
    background-color: #191919;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #191919;
    height: 65px;
    width: 100%;
    /* border: 2px solid red; */
    border-bottom: .1px solid rgba(43, 42, 42, 0.648);
    box-shadow: 0px 3px 2px rgb(21, 21, 21);
    padding: 0px 15px;
}

.logo{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content:left;
    width: 25%;
    height: 100%;
    /* margin-left: 10px; */
    font-family: Orbitron;
    font-weight: 200;
}
.logo:hover{
    cursor: pointer;
}
.logo img{
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
}
#nav_links{
    /* border: 2px solid red; */
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 100%;
    width: 57%;
    font-weight: 600;
}
#nav_links a{
    font-size: 14px;
    color: rgb(158, 155, 155);
}
#nav_links a:hover{
    color: rgb(218, 213, 213);
}
#nav_buttons{
    /* border: 2px solid red; */
    width: 32%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.trade{
    color: white;
    border: none;
    background: none;
    width: 70px;
    height: 40px;
    background-color: #3EB489;
    border-radius: 5px;
}
.trade:hover{
    background-color: #258f68;
    cursor: pointer;
}
.wallet{
    color: white;
    width: 135px;
    height: 40px;
    /* background-color: #3EB489; */
    border: 0.5px solid rgba(87, 85, 85, 0.874);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10 px;
}

.wallet button{
    color: white;
    border: none;
    background: none;
}

.fa-wallet{
    font-size: 20px;
}
.wallet:hover, #ethereum:hover{
    background-color: rgba(70, 68, 68, 0.384);
    cursor: pointer;
}
#ethereum{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.5px solid rgba(87, 85, 85, 0.874);
    border-radius: 5px;
    width: 75px;
    height: 35px;
}
#ethereum-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.fa-ethereum{
    color: black;
    font-size: 17px;
}
#dots{
    height: 35px;
    padding: 10px;
    transform: rotate(90deg);
}
#Sub-dots{
    border-bottom: 0.5px solid rgb(203, 196, 196);
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20px;
    /* border: 2px solid red; */
}
.fa-circle{
    font-size: 3px;
}

/* ---------Decentralized
Perpetual Exchange--------------- */

#DPE{
    display: flex;
    flex-direction: column;

    margin-top: 40px;
    height: 97vh;
    border-bottom: 1px solid rgba(113, 109, 109, 0.852);
}
#DPE1{
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 54%;
    /* border: 2px solid white; */
}
#DPE1 h1{
    font-size: 50px;
}
#DPE1 p{
    line-height: 27px;
    font-size: 19px;
    color: rgb(205, 198, 198);
}
#DPE1 button{
    color: white;
    background: none;
    border: none;
    padding: 11px;
    width: 150px;
    height: 35px;
    background-color: #3EB489;
    border-radius: 5px;
}
#DPE1 button:hover{
    background-color: #258f68;
    cursor: pointer;
}
#DPE2{
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    width: 93vw;
}
#DPE2>div{
    display: flex;
    align-items: center;
    padding: 25px;
    /* justify-content: center; */
    /* border: 2px solid white; */
    border: 0.5px solid rgba(59, 57, 57, 0.79);
    border-radius: 5px;
    height: 125px;
    width: 31.5%;
    box-shadow: 2px 5px 5px rgba(14, 14, 14, 0.861);
}
#DPE2 img{
    height: 50px;
    width: 50px;
}
.card1>div{
    margin-left: 30px;
    line-height: 30px;
}
.card1 p{
    color: #CBCBCB;
    font-weight: 600;
}

/* ----------------2nd Div------------------- */
#Divsion_2{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 95%;
    margin: 60px auto;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27%;
    height: 125px;
    /* border: 2px solid red; */
}

.quote>p{
    color: #CBCBCB;
    margin-top: 20px;
    width: 90%;
    line-height: 22px;
    /* border: 2px solid yellow; */
    font-weight: 700;
}

.quote>div{
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 2px solid yellow; */
    
}
.quote>div>p{
    font-weight: 600;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    /* border: 2px solid red; */
}
.quote>div img{
    /* border: 2px solid yellow; */
    height: 45px;
    width: 45px;
}

/* ----------------3rd Div------------------- */
#Division_3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 50px; */
    padding: 50px 30px;
    /* border: 2px solid red; */
    height: 495px;
    border-bottom: 1px solid rgba(113, 109, 109, 0.852);
    
}

#Division_3>p:nth-child(1){
    /* margin-left: 30px; */
    /* width: 100vw; */
    font-weight: bold;
    font-size: 38px;
    
}
#tokens{
    
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 100%;
    margin: auto;
    font-weight: 600;
}
#token1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 49%;
    height: 240px;
    border: 0.7px solid rgba(95, 92, 92, 0.79);
    border-radius: 5px;
    padding-left: 20px;
    background-color: #151515;
    box-shadow: 4px 4px 6px rgba(14, 14, 14, 0.861), -4px -4px 6px rgba(14, 14, 14, 0.861);
}
#token1 p:nth-child(3){
    color: #CBCBCB;
    font-size: 14px;
}
#token1>div{
    display: flex;
    align-items: center;
}
#token1>div>img{
    height: 40px;
    width: 40px;
}
#token1>div>p{
    margin-left: 10px;
    font-size: 23px;
}
.Buy{
    color: white;
    border: none;
    background: none;
    width: 55px;
    height: 35px;
    background-color: #3EB489;
    border-radius: 5px;
    
}
.Buy:hover{
    background-color: #258f68;
    cursor: pointer;   
}

.Read-More{
    margin-left: 10px;
    color: white;
    border: none;
    background: none;
    height: 35px;
    width: 100px;
    border: 0.7px solid rgba(84, 82, 82, 0.79);
    border-radius: 5px;
}
.Read-More:hover{
    background-color: rgba(70, 68, 68, 0.384);
    cursor: pointer;
}

/* ----------------footer------------------- */
footer{
    font-weight: 600;
    padding: 10px;
    width: 100%;
    height: 200px;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    /* height: 100%; */
    /* border: 2px solid red; */
    font-family: Orbitron;
    font-weight: 200;
}
.flogo img{
    height: 50px;
    width: 50px;
}
.ficons{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    width: 430px;
    height: 45px;
    /* border: 2px solid red; */
}

.footer_links{
    display: flex;
    justify-content: space-between;
    width: 375px;
    /* border: 2px solid red; */
}
.footer_links a{
    font-size: 14px;
    color: rgb(198, 193, 193);
}